
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center container mt-3">
    <div class="container">
        <h1 class="jumbotron-heading">Chatter Project</h1>
        <p class="lead text-muted">
            Multi-platfrom solution to peer-to-peer and group chat. Advanced file
            and emoticon sharing approach. Avaluable for download on your desktop
            or mobile device.
        </p>
    </div>
</div>
<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card h-100 mb-4 box-shadow">
                    <img class="card-img-top p-1" src="~/Content/img/androidLogo.png" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;">
                    <div class="d-flex pt-2 flex-column card-body">
                        <p class="card-text">Compatible with nearly any android phone with low battery, memory and processor requirements</p>
                        <div class="d-flex mt-auto justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn text-bold btn-primary" href="">Download</a>
                                <a class="btn text-bold btn-secondary" href="">Source</a>
                            </div>
                            <small class="text-muted">v1.0</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 mb-4 box-shadow">
                    <img class="card-img-top p-1" src="~/Content/img/javaLogo.png" alt="Java" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167fbbefa93%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167fbbefa93%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    <div class="d-flex pt-2 flex-column card-body">
                        <p class="card-text">Beautiful modern desktop client that runs on any platform. Best option if you are not sure which one to pick</p>
                        <div class="d-flex mt-auto justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn text-bold btn-primary" href="">Download</a>
                                <a class="btn text-bold btn-secondary" href="">Source</a>
                            </div>
                            <small class="text-muted">v1.0</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 mb-4 box-shadow">
                    <img class="card-img-top p-1" src="~/Content/img/CppLogo.png" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167fbbefa93%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167fbbefa93%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    <div class="d-flex pt-2 flex-column card-body">
                        <p class="card-text">For any and every fan of native apps. Our <code class="code">C++</code> client is the linux user's favourite pick</p>
                        <div class="d-flex mt-auto justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn text-bold btn-primary" href="">Download</a>
                                <a class="btn text-bold btn-secondary" href="">Source</a>
                            </div>
                            <small class="text-muted">v1.0</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 mb-4 box-shadow">
                    <img class="card-img-top p-1" src="~/Content/img/wpfLogo.png" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167fbbefa93%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167fbbefa93%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    <div class="d-flex pt-2 flex-column card-body">
                        <p class="card-text">Do you enjoy the look of modern Windows menus? Because our client will surely impress you!</p>
                        <div class="d-flex mt-auto justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn text-bold btn-primary" href="">Download</a>
                                <a class="btn text-bold btn-secondary" href="">Source</a>
                            </div>
                            <small class="text-muted">v1.0</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-dark">
    <div class="container text-light">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-4 mt-5 order-2 order-lg-1">
                <img class="img-fluid mx-auto d-block" src="~/Content/img/api.png" alt="">
            </div>
            <div class="col-lg-7 order-lg-1 order-lg-2">
                <h1 class="mb-2 text-bold w-75">API Documentation</h1>
                <p class="fs-16 text-gray-soft">Simple and flexible yet powerfull API free to
                anyone who wishes to create their own client or just monitor their account
                with more control
                </p>
                <a class="btn btn-light" href="@Url.Action("Index","API")">Open API documentation</a>
            </div>
        </div>
        <div class="row align-items-center justify-content-between mt-5 my-lg-5 pt-5">
            <div class="col-lg-7 mb-3 mb-lg-5">
                <h1 class="mb-2 text-bold w-75">Source code</h1>
                <p class="fs-16 text-gray-soft">This whole project has been developed under GPL-3.0 license and the source code of any of our client and server applications is avaluable to anyone. If you wish to contribute to our project you submit pull request at our Github page!</p>
                <a class="btn btn-light" href="http://github.com/lukx1/Chatter">Show me your github page</a>
            </div>
            <div class="col-lg-4 mb-4 mt-4"><img class="img-fluid mx-auto d-block" src="~/Content/img/githubLogo.png" alt=""></div>
        </div>
    </div>
</div>
