@font-face {
    src: url("DejaVuSans-ExtraLight.ttf");
}

* {
    -fx-font-family: "DejaVu Sans Light";
}

Button {
    -fx-background-color: white;
    -fx-text-fill: #222631;
    -fx-cursor: hand;
}

#TopPane {
    -fx-background-color: #222631;
}
#SendMessagePane {
    -fx-background-color: pink;
}

#NotificationPane {
    -fx-background-color: violet;
}

#LoginPanel {
    -fx-border-color: #00abb2;
    -fx-border-width:1px;
    -fx-border-radius: 12px;
}

.LargeText {
    -fx-font-size: 125%;
}

#CenterAnchorPane {
    -fx-background-color: transparent;
}

#InfoPane Button {
    -fx-background-color: #222631;
    -fx-text-fill: white;
}

#SendMessagePane {
    -fx-background-color: #222631;
}

#ChatPane {
    -fx-background-color: #363d43;
}
