@font-face {
    src: url("DejaVuSans-ExtraLight.ttf");
}

#TopPane {
    -fx-background-color: #222631;
}

#ChatPane {
    -fx-background-color: orange;
}
#SendMessagePane {
    -fx-background-color: pink;
}