
.album a:hover {
    text-decoration:none;
}

.inline-headers h1, .inline-headers h2, .inline-headers.h3, .inline-headers h4, .inline-headers h5, .inline-headers h6 {
    display: inline-block;
    vertical-align: baseline;
}